fastapi
uvicorn
python-multipart
llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-supabase
supabase
streamlit==1.52.1
python-dotenv
google-generativeai
pydantic
gptcache
